/*---General Site Markup---*/
* {
    font-family: Verdana, sans-serif;
}
html{
    background-image: url("https://plibby.w3.uvm.edu/cs142/assignment4/grey_squares.png");
}
body {
    background-color: #6AA97D;
    width:100%;
    display:inline-block;
    margin: auto;
    margin-bottom:1em;
}

body section#mainContent {
    text-align:center;
    width:100%;
    background-color: #2B823A;
    padding: 1.2em;
    margin-top:17em;
}

body section article {
    color:#00200A;
    text-align:left;
    display:block;
    margin:auto;
    max-width: 50%;
    background-color: #51A35F;
    margin-bottom: 1.2em;
    padding:1.2em;
    border-radius:.8em;
}
/*---Main Nav Bar---*/
div.cap{
    background-color: #6AA97D;
    width:100%;
    position:fixed;
    padding:0;
}
nav#mainMenu{
    clear: both;
    text-align: center;
    /*background-color: #21431C;*/
    background: rgba(52,104,44,1);
    background: -moz-linear-gradient(top, rgba(52,104,44,1) 0%, rgba(52,104,44,1) 25%, rgba(47,90,12,1) 64%, rgba(47,90,12,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(52,104,44,1)), color-stop(25%, rgba(52,104,44,1)), color-stop(64%, rgba(47,90,12,1)), color-stop(100%, rgba(47,90,12,1)));
    background: -webkit-linear-gradient(top, rgba(52,104,44,1) 0%, rgba(52,104,44,1) 25%, rgba(47,90,12,1) 64%, rgba(47,90,12,1) 100%);
    background: -o-linear-gradient(top, rgba(52,104,44,1) 0%, rgba(52,104,44,1) 25%, rgba(47,90,12,1) 64%, rgba(47,90,12,1) 100%);
    background: -ms-linear-gradient(top, rgba(52,104,44,1) 0%, rgba(52,104,44,1) 25%, rgba(47,90,12,1) 64%, rgba(47,90,12,1) 100%);
    background: linear-gradient(to bottom, rgba(52,104,44,1) 0%, rgba(52,104,44,1) 25%, rgba(47,90,12,1) 64%, rgba(47,90,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34682c', endColorstr='#2f5a0c', GradientType=0 );
    padding: .6em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 3em;
}

#mainMenu > ul{
    list-style: none;
    padding-right: 4em;

}

#mainMenu > ul > li{
    display: inline-block;
    border-left: 1px solid white;
    padding-left: .5em;
    padding-right: .25em;
    /*float:left;*/
    /*width: 2em;*/
    /*padding-left: 2em;*/
    font-size: 2em;

}

#mainMenu > ul > li > a{
color: white;
text-decoration: none;
}

#mainMenu > ul > li.menuLink.activeLink > a{
text-decoration: underline;
}

#mainMenu > ul > li:nth-child(1){
    border-left: none;
